//site color variables
$body-color: #fff;
$primary-color: #FD6484;
$secondary-color: #ADD6D2;
$text-color: #9D9EA5;
$text-color-dark: #FD6484;
$text-color-dark-green : #3E5823;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;
$title_pink : #F9C2CC ;
$light-green : #C9E265 ;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Alata', sans-serif;
$secondary-font: 'Roboto', sans-serif;
